@import 'tailwindcss';

#app-bg {
  background-color: var(--tgui--bg_color);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 1px;
  overflow-y: auto;
}

.bg-primary {
  background-color: var(--tgui--surface_primary);
}

.bg-quartenary {
  background-color: var(--tgui--quartenary_bg_color);
}

.text-subtitle {
  color: var(--tgui--secondary_hint_color);
}

.bg-danger {
  background-color: var(--tgui--destructive_text_color);
}

.color-danger {
  color: var(--tgui--destructive_text_color);
}

.img-contain > img {
  object-fit: contain;
}

.img-outer > img {
  width: unset;
  border-radius: 0;
  position: static;
}

.block-text-center > span {
  text-align: center;
}

.child-grow-0 > * {
  flex-grow: 0;
}
